<?xml version="1.0"?>
<launch>
  <node pkg="heatmap_util" type="rf_data_server.py" name="heatmap_data_server_node" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find heatmap_util)/rviz/heatmap_rviz.rviz"/>
  <node pkg="heatmap_util" type="heat" name="grid_map_simple_demo" output="screen"/>
</launch>
