<?xml version="1.0"?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find irisdrone_gazebo)/models/my_antenna/antenna.sdf'"/>
	<rosparam command="load" file="$(find heatmap_util)/config/heatmap.yaml"/>
    <node pkg="heatmap_util" type="rf_data_server.py" name="heatmap_data_server_node" output="screen"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find heatmap_util)/rviz/manual_approach_rviz.rviz"/>
	<node pkg="heatmap_util" type="paint_heatmap_rviz" name="grid_map_simple_demo" output="screen"/>	

	<!-- antenna pose = (heatmap_size / 2) - 1 - heatmap antenna pose + offset-->
	<!-- antenna pose = 6 - 1 - 0 + 0.5 -->
	<arg name="x_ann" default="6"/>
	<arg name="y_ann" default="6"/>

	<arg name="vehicle" default="iris"/>
	<arg name="x" default="0.5"/>
	<arg name="y" default="0.5"/>
	<arg name="z" default="0"/>
	<arg name="R" default="0"/>
	<arg name="P" default="0"/>
	<arg name="Y" default="0"/>
	<arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

	<arg name="est" default="ekf2"/>
	<env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
	<env name="PX4_ESTIMATOR" value="$(arg est)" />

	<!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>

	<!-- PX4 configs -->
	<arg name="interactive" default="true"/>
	<!-- PX4 SITL -->
	<arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
	<arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
    
	<node name="sitl" pkg="px4" type="px4" output="screen"
		args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS $(arg px4_command_arg1)" required="true"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(find irisdrone_gazebo)/worlds/irisdrone.world"/> -->
		<!-- more default parameters can be changed here -->
	</include>

	<!-- gazebo model -->
	<node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

	<!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>
  
	<node pkg="teleop" type="px4_controller.py" name="px4_controller" required="true" output="screen" />
	<node pkg="teleop" type="algorithms.py" name="algorithms_node" required="true" output="screen" />

	<node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param robot_description -model antenna -x $(arg x_ann) -y $(arg y_ann) -z 0"/>
	<node pkg="heatmap_util" type="path_marker.py" name="path_node" output="screen"/>
</launch>